*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: LeagueSpartan-Regular;
    src: url(fontes/LeagueSpartan-Regular.ttf);
}

@font-face {
    font-family: LeagueSpartan-Bold;
    src: url(fontes/LeagueSpartan-Bold.ttf);
}

@font-face {
    font-family: LeagueSpartan-SemiBold;
    src: url(fontes/LeagueSpartan-SemiBold.ttf);
}

html{
    background-image: url(imagens/bg-pattern-top-desktop.svg);
    background-repeat: no-repeat;
    background-position: left top;
}

body{
    background-image: url(imagens/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
}

#conteudo-cima{
    display: flex;
    margin-top: 150px;
    margin-left: 150px;
    margin-right: 150px;
    justify-content: space-between;
}

header h1{
    color: hsl(300, 43%, 22%);
    font-family: LeagueSpartan-Bold;
    font-size: 70px;
    font-weight: bolder;
}

header p{
    font-family: LeagueSpartan-Regular;
    color: hsl(300, 43%, 22%);
    margin-top: 30px;
    line-height: 25px;
    font-size: 18px;
}

ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 20px;
    padding: 15px 30px;
    background-color: hsl(300, 24%, 96%);
    font-family: LeagueSpartan-Bold;
    color: hsl(300, 43%, 22%);
}

#primeiro{
    margin-right: 200px;
}

#segundo{
    margin-right: 150px;
    margin-left: 50px;
}

#terceiro{
    margin-right: 100px;
    margin-left: 100px;
}

ul li i{
    margin: 5px;
}

ul li p{
    margin-left: 35px;
}

#conteudo-baixo{
    display: flex;
    justify-content: center;
}

#Colton{
    margin-top: 80px;
    margin-left: 50px;
}

#Irene{
    margin-top: 110px;
}

#Anne{
    margin-top: 140px;
}

.quadro{
    background-color: hsl(300, 43%, 22%);
    margin-right: 50px;
    width: 400px;
    height: 250px;
    border-radius: 10px;
}

.texto{
    text-align: justify;
    margin: 0 30px;
    color: hsl(0, 0%, 100%);
    font-family: LeagueSpartan-Regular;
    font-size: 18px;
    line-height: 23px;
}

table td img{
    padding: 10px;
    border-radius: 50px;
    margin: 20px;
    margin-bottom: 0px;
    height: 50px;
    width: 50px;
}

table .nomes{
    font-size: 18px;
    color: hsl(0, 0%, 100%);
    font-family: LeagueSpartan-SemiBold;
}

table .nomes p{
    margin-top: 10px;
    color: hsl(333, 80%, 67%);
    font-family: LeagueSpartan-Regular;
}