*{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(0, 0%, 8%);
    width: 98vw;
    height: 98vh;
}

div{
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
    width: 375px;
    height: 620px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div header img{
    border-radius: 50px;
    margin-top: 40px;
    text-align: center;
    height: 100px;
}

header h1{
    color: hsl(0, 0%, 100%);
    text-align: center;
    margin-top: 15px;
}

#localizacao{
    text-align: center;
    padding: 5px;
    color: hsl(69, 85%, 50%);
}

#frase{
    text-align: center;
    padding: 3px;
    color: hsla(0, 0%, 100%, 0.832);
}

ul{
    padding: 5px 40px;
}

ul a{
    text-decoration: none;
}

ul a li{
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    margin-top: 15px;
    padding: 15px;
    background-color: hsl(0, 0%, 20%);
}

ul a li:hover{
    background-color: hsl(69, 85%, 50%);
    color: hsl(0, 0%, 8%);
    font-weight: bolder;
}